.table {
  width: 100%;

  thead {
    background-color: $primary-color;
    color: $white-color;
    position: sticky;
    top: 0%;
    width: 100%;

    tr {
      th {
        vertical-align: middle;
        padding: 5px 10px;
        text-transform: capitalize;
        text-align: start;
      }
    }
  }

  tbody {
    td {
      padding: 5px 10px;
    }

    tr:nth-child(even) {
      background: $table-row-even-color;
    }
  }
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

.table-footer {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-table {
  max-height: 80vh;
  overflow-y: auto;
}
