.table-wrapper {
  .table {
    width: 100%;

    thead {
      background-color: $primary-color;
      color: $white-color;
      position: sticky;
      z-index: 1000;
      width: 100%;

      tr {
        th {
          vertical-align: middle;
          padding: 5px 10px;
          text-transform: capitalize;
          text-align: start;
        }
      }
    }

    tbody {
      td {
        padding: 5px 10px;
      }

      tr:nth-child(even) {
        background-color: $table-row-even-color;
      }
    }
  }

  table,
  th,
  td {
    border: none;
    border-collapse: collapse;
  }
}

.table-footer {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  position: sticky;
  bottom: 26px;
  background-color: $white-color;
  padding: 7px 5px;
}

.responsive-table {
  @include mobile {
    colgroup {
      display: none;
    }

    thead {
      display: none;
    }

    tbody {
      tr {
        background-color: transparent !important;
        border-radius: 3px;
        margin-bottom: 7px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: block;

        td {
          min-width: 100%;
          border-bottom: 1px solid $border-input-color;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:last-child {
            border-bottom: none;
          }

          &::before {
            content: attr(data-label);
            text-transform: capitalize;
            font-weight: bold;
            width: 30%;
          }
        }
      }
    }
  }
}

.page-size {
  @include mobile {
    select {
      height: 25px;
      width: 70px;
      min-width: 70px;
    }
  }
}
