.category-cell {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-delete-book-modal {
  display: flex;
  gap: 7px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}
