.header-dashboard {
  top: 97px;
  display: flex;
  align-items: center;
  padding: 7px;
  gap: 7px;
  background-color: $white-color;

  .add-new {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }

  .label-search {
    display: none !important;
  }

  .btn-search {
    border-radius: 5px;
    width: 32px;
    height: 32px;
  }

  @include mobile {
    width: 100%;
  }
}
