.footer {
  position: fixed;
  background-color: $white-color;
  width: 100%;
  bottom: 0;
  height: 26px;

  & > span {
    float: right;
    margin-right: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    @include mobile {
      margin-right: 10px;
    }
  }
}
