.book {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 7px;
  cursor: pointer;

  & > .item-book-avatar {
    height: 200px;
    width: 100%;
  }

  & > .book-quick-info {
    display: flex;
    align-items: center;
    gap: 10px;

    & > .author-images {
      border-radius: 4px;
      overflow: hidden;
      flex-basis: 20%;

      .author-avatar {
        width: 100%;
        height: 100%;
      }
    }

    & > .multiple-images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 25px;
      border: 1px solid $border-input-color;
    }

    & > .left-info {
      flex-basis: 80%;

      .book-name {
        font-weight: bold;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-wrap: wrap;
        line-height: 17px;
      }

      .author-name {
        font-weight: normal;
      }
    }
  }
}

a:has(.book), a:has(.author-name) {
  text-decoration: none;
  color: inherit;
}
