.select {
  height: 30px;
  border-radius: 3px;
  padding: 0 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('images/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 7px;
}