.menu-wrapper {
  position: relative;
  width: 50px;
  min-width: 50px;

  .menu {
    position: fixed;
    top: 63px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: $primary-color;
    width: inherit;
    height: 100%;
    transition: ease 0.5s;
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 2000;

    &:hover {
      width: 200px;
    }

    &-item {
      a {
        display: flex;
        align-items: center;
        color: $white-color;
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: none;
      }

      &:has(.active) {
        background-color: $menu-hover-color;
      }

      &:hover {
        background-color: $menu-hover-color;
      }

      .menu-icon {
        min-width: 40px;
        min-height: 40px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
      }
    }
  }
}
