.pagination {
  display: flex;
  gap: 5px;

  &-button {
    padding: 5px;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
  }

  .direction {
    line-height: 15px;
  }

  .active {
    background-color: $white-color;
    border: 1px solid $border-input-color;
  }

  .dots {
    font-weight: bold;
    pointer-events: none;
  }
}
