.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &-button {
    height: 25px;
    width: 25px;
    vertical-align: middle;
  }

  .direction {
    line-height: 15px;
  }

  .active {
    background-color: $white-color;
    border: 1px solid $border-input-color;
    pointer-events: none;
  }

  .dots {
    font-weight: bold;
    pointer-events: none;
  }
}

.horizontal-pagination {
  flex-direction: column;

  & .direction {
    rotate: 90deg;
  }
}
