.client-login-wrapper {
  flex-direction: column;
  height: 100vh;

  .client-login {
    padding-top: 30px;
    background-color: $red-client-primary-color;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .form {
      width: 370px;
      background-color: $black-client-primary-color;
      padding: 10px;
      color: $white-color;
      border-radius: 0 0 10px 10px;
      margin: auto;
    }
  }
}
