.author-links {
  padding-left: 20px;

  & > li {
    margin: 4px 0;

    & > .author-link {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }

  .author-avatar {
    width: 30px;
    height: 30px;
  }
}

.category-link {
  text-decoration: underline;
  cursor: pointer;
}
