.button {
  padding: 5px;
  border-radius: 3px;

  &:hover:not(&:disabled) {
    opacity: .5;
  }

  &:disabled {
    pointer-events: none;
  }
}

.btn-success {
  background-color: $button-cancel-pop-up-color;
  color: $white-color;
}

.btn-dangerous {
  background-color: $error-color;
  color: $white-color;
}
