.button {
  padding: 5px;
  border-radius: 3px;

  &:hover:not(&:disabled) {
    opacity: .5;
  }

  &:disabled {
    pointer-events: none;
    opacity: .3;
  }
}

.btn-submit {
  background: $primary-color;
  color: $white-color;
  font-size: 16px;
}

.btn-success {
  background-color: $button-cancel-pop-up-color;
  color: $white-color;
}

.btn-dangerous {
  background-color: $error-color;
  color: $white-color;
}

.btn-warning {
  background-color: $warning-color;
  color: $white-color;
}

.btn-primary {
  background-color: $primary-button-color;
  color: $white-color;
}

.btn-outline {
  border: 2px solid $primary-button-color;
  background-color: $white-color;
  color: $primary-button-color;
  font-weight: bold;
}
