.book-introduce {
  padding: 20px 10px;

  .book-introduce-editor {
    margin-bottom: 15px;
  }

  .horizontal-line {
    height: 3px;
    background: $black-color;
    margin: 20px 0;
  }

  .introduce-save-btn {
    display: block;
    margin: auto;
    width: 200px;
    height: 30px;
  }

  .file-name {
    margin: 0 auto 10px;
    display: flex;
    margin: 0;

    & > span {
      flex-basis: 120px;
    }
  }
}

.preview {
  margin-left: 20px;
}
