.user-detail {
  .user-form {
    margin: auto;
    margin-top: 10px;
    max-width: 35vw;

    @include mobile {
      width: 100%;
      max-width: unset;
    }

    @include tablet {
      max-width: unset;
    }
  }

  @include mobile {
    .back-btn {
      margin-bottom: 7px;
    }
  }
}
