@import '../style.scss';

.month-calendar {
  @extend .calendar !optional;
  padding: 5px;

  .year-btn {
    background-color: transparent;
  }

  .month-btn {
    width: 50%;
    height: calc(((245px - 10px) - 27px) / 6);
    display: inline-block;
    background-color: transparent;
  }

  .current-month {
    background-color: $title-pop-up-color;
    color: $white-color;
  }
}
