.personal {
  height: 100vh;
  flex-direction: column;
  padding: 20px;

  & > .form-size {
    width: 50%;

    @include mobile {
      width: unset;
    }
  }

  & > .hight-light {
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.align-items-center {
  align-items: center;
}
