@import '../style.scss';

.year-calendar {
  @extend .calendar;
  padding: 5px;

  .year-selected {
    background-color: transparent;
  }

  .year-button {
    width: 50%;
    height: calc(((245px - 10px) - 27px) / 5);
    background-color: transparent;
  }

  .current-year {
    background-color: $title-pop-up-color;
    color: $white-color;
  }

  .year-range {
    font-size: 14px;
  }
}
