.calendar {
  width: 220px;
  height: 245px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  background-color: $white-color;
}

.calendar-body {
  @extend .calendar !optional;
  border-radius: 3px;
  padding: 7px;
  display: grid;
  gap: 5px;
  column-gap: 5px;

  .day-name {
    font-size: 12px;
    font-weight: 600;
  }

  .days, .day-name {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(7, 25px);
  }

  .day-btn {
    padding: 5px;
  }
}
