@import url(./static/scss/index.scss);
@import '~quill/dist/quill.snow.css';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: OpenSansRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

button {
  cursor: pointer;
  border: none;
}

.custom-input {
  border-radius: 3px;
  outline: none;
  height: 30px;
}

.input {
  border: 1px solid $border-input-color;
  padding: 0 5px;
  width: 100%;

  &[type="file"]::file-selector-button {
    background-color: $primary-color;
    border: none;
    height: 100%;
    margin-left: -5px;
    color: $white-color;
  }
}

.error-input {
  border-color: $error-color !important;
}

.image-box {
  border: 3px dashed $title-pop-up-color;
  border-radius: 3px;
}

.field-name {
  font-size: 16px;
  font-weight: bold;
}

.un-grid {
  grid-template-columns: unset !important;
  gap: unset !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-sticky {
  position: sticky;
  z-index: 99;
}

.position-fixed {
  position: fixed;
  z-index: 999;
}

.line-clamp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-disabled {
  font-style: italic;
  color: $placeholder;
}

// select style.
.select {
  padding: 0 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 100px;
  width: 100%;
  border-color: $border-input-color;

  & > option:disabled {
    @extend .select-disabled;
  }

  & > option:not(& > option:disabled) {
    color: initial !important;
    font-style: normal;
  }
}

.placeholder {
  @extend .select-disabled;
}

.select-wrapper {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    display: block;
    height: 20px;
    width: 28px;
    background-color: $white-color;
    z-index: 1;
    pointer-events: auto;
    background-image: url('images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
