$maximum-grid-column: 12;

.grid {
  display: grid;
  grid-template-columns: repeat($maximum-grid-column, 1fr);
  gap: 7px;
}

@mixin grid-col($size) {
  @for $i from 2 through $maximum-grid-column {
    .col-row-#{$size}-#{$i} {
      & > * {
        grid-column: #{span calc($maximum-grid-column / $i)} !important;
      }
    }

    .col-#{$size}-#{$i} {
      grid-column: #{span $i} !important;
    }
  }
}

@include mobile {
  @include grid-col('sm');
}

@include tablet {
  @include grid-col('md');
}

@for $i from 2 through $maximum-grid-column {
  .col-row-#{$i} {
    & > * {
      grid-column: #{span calc($maximum-grid-column / $i)};
    }
  }

  .col-#{$i} {
    grid-column: #{span $i};
  }
}
