.fieldset {
  border: none;

  .error-feedback {
    color: $error-color;
    font-size: 14px;
    font-weight: 600;
  }

  label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
  }
}
