.book-information {
  padding: 10px;
}

.label {
  float: left;
  margin-bottom: 0 !important;
  margin-top: 4px;
  margin-right: 5px;
}

.footer-navigation-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author-select-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;

  & > img {
    width: 40px;
    height: 40px;
  }
}
