.content {
  width: 100%;

  .navigation {
    background-color: $primary-color;
    padding: 2px 5px;
    color: $white-color;

    &:last-child::after {
      content: unset;
    }

    a {
      font-weight: bold;
      color: $white-color;
      text-decoration: none;
    }

    a:not(:last-child) {
      &::after {
        content: '>';
        text-decoration: none;
        padding: 5px;
      }
    }

    & > span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-box {
    margin-top: 10px;
    padding-right: 7px;
  }
}

.content-box {
  @include mobile {
    height: calc(100vh - (56px + 26px + 10px + 7px + 26px));
    overflow-y: auto;
  }
}
