.flex-align-center {
  display: flex;
  align-items: center;
}

.pop-up {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 200px;
  max-width: 320px;
  overflow: hidden;
  background: $white-color;
  transition: bottom .4s;

  &:after {
    content: '';
    position: fixed;
    bottom: 0;
    display: block;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, $button-cancel-pop-up-color, $title-pop-up-color);
  }

  .btn-cancel-wrapper {
    height: 100%;
    width: 40px;
    @extend .flex-align-center;
    justify-content: center;

    .btn-cancel {
      font-weight: bold;
      font-size: 16px;
      background: $button-cancel-pop-up-color;
      border-radius: 50%;
      color: $white-color;
      width: 25px;
      height: 25px;
      padding: 3px 0 0 .5px;
    }
  }

  .title {
    padding: 3px 10px;
    color: $white-color;
    background-color: $title-pop-up-color;
    font-size: 15px;
  }

  &-body {
    @extend .flex-align-center;
    margin-top: auto;
    margin-bottom: 5px;

    .pop-up-content {
      @extend .flex-align-center;
      min-height: 50px;
      padding: 5px;
      white-space: pre-line;
    }
  }
}
