$primary-color: #8e44ad;
$menu-hover-color: #9b59b6;
$white-color: white;
$avatar-button-color: #D6A2E8;
$table-row-even-color: #ecf0f1;
$border-input-color: #bdc3c7;
$error-color: #eb3b5a;
$button-cancel-pop-up-color: #2ecc71;
$title-pop-up-color: #3498db;
